//- views/sessions/new.jade

extends ../layout2

block content
   #user-form
      h3 Login

      if error
         p.notification.error= error

      if info
         p.notification.info= info

      form(action='/sessions', method='post')
         p: input(type='text', name='username', placeholder='Username')
         p: input(type='password', name='password', placeholder='Password')
         p: input(type='submit', value='Login' class='button success btn-size')


      p.none: a(href='/users/new') New user? Signup!
